 /*       * Style tweaks       * --------------------------------------------------       */
h1{
 font-family: 'Oswald', sans-serif;
 font-size: 30px;
 text-transform: uppercase;
 color: #800080;
}
 body {
   padding-top: 70px;
   padding-left: 50px;
   padding-right:50px;
   background: linear-gradient(to top, rgba(0, 200, 0, 0.3), rgba(155, 0, 211, 0.3));
  }
footer {
  padding-left: 15px;
  padding-right: 15px;
  background: linear-gradient(to bottom, rgba(0, 200, 0, 0.3), rgba(155, 0, 211, 0.3));
  }
img {
  position: relative;
  height: 300px;
  width: 300px;
  }
.jumbotronTransp {
 display: block;
 margin: 0 auto;
 padding: 30px;
 height: 350px;
 width: 550px;
 font-family: 'Muli', sans-serif;
 font-size: 16px;
 font-weight: 200;
 line-height: 2.1428571435;
 color: #999;
 background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 200, 0, 0.3)), to(rgba(155, 0, 211, 0.3)));
 background: -webkit-linear-gradient(rgba(0, 200, 0, 0.3), rgba(155, 0, 211, 0.3));
 background: -moz-linear-gradient(rgba(0, 200, 0, 0.3), rgba(155, 0, 211, 0.3));
 background: -o-linear-gradient(rgba(0, 200, 0, 0.3), rgba(155, 0, 211, 0.3));
 background: linear-gradient(rgba(0, 200, 0, 0.3), rgba(155, 0, 211, 0.3));
 }
 /* forms labels */
 label{
  display: block;
  margin-top: 20px;
  letter-spacing: 2px;
 }
 
 /*centers the form labels for contact sheet*/
  form {
  margin: 0 auto;
  width: 459px;
 }
 
 /* Styles the textboxes for the form */
 input, textarea, file {
  width: 439px;
  height: 27px;
  background-color: #330033;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #1F001F;
  padding: 10px;
  margin-top: 3px;
  font-size:0.9em;
  color: #E0CCE0;
 }
 
 input: focus, textarea: focus {
  border: 1px solid #97d6eb;
 }
 
 /* styles the text area message field */
 textarea{
  height: 213px;
  background-color: #efefef;
 }
 
 /* styles the text area boxes (submit button) */
 #submit {
  width: 127px;
  height: 48px;
  text-align: center;
  border: none;
  margin-top: 20px;
  cursor: pointer;
 }
 
 /* style the submit hover */
 #submit:hover {
  color:#fff;
  background-color: #216182;
  opacity:0.9;
 }

/* Style the cancel button */
#cancel {
 width: 127px;
 height: 28px;
 text-align: center;
 border:none;
 margin-top: 20px;
 cursor:pointer;
} 
 
/*Styles the cancel hover */
#cancel: hover {
 color: #fff;
 background-color: #000;
 opacity: 0.9;
}
/*links */ 
ul li a{
  color:#9932CC;
  display:block;
  text-decoration:none;
  padding:10px;
  }
ul{list-style-type:none;}
li{display:block;}
ul li a:hover{
  color:#A9A9A9;
  display:block;
  text-decoration:none;
  }
li:hover{background-color:#ead6b7;}
.active a{color:#9932CC;text-decoration:none;}
li a{color:#ba55d3;background:#333;padding:5px;display:block;}
li a:hover{color:#fdf5e6;background:#333;text-decoration:none;}
#myplaylist,audio{background:#666;width:400px;padding:20px;}
  .active a{color:#5DB0E6;text-decoration:none;}
  li a{color:#eeeedd;background:#333;padding:5px;display:block;}
  li a:hover{text-decoration:none;}
/*       * Off Canvas       * --------------------------------------------------       */
@media screen and(max-width: 768px) {
  .row-offcanvas {
  position: relative;
  background: linear-gradient(to top, rgba(0, 200, 0, 0.3), rgba(155, 0, 211, 0.3));
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  }
.row-offcanvas-right .sidebar-offcanvas {
  background: linear-gradient(to top, rgba(0, 200, 0, 0.3), rgba(155, 0, 211, 0.3));
  right: -50%;
  /* 6 columns */
  }
.row-offcanvas-left .sidebar-offcanvas {
  background: linear-gradient(to top, rgba(0, 200, 0, 0.3), rgba(155, 0, 211, 0.3));
  left: -50%;
  /* 6 columns */
  }
.row-offcanvas-right.active {
  background: linear-gradient(to top, rgba(0, 200, 0, 0.3), rgba(155, 0, 211, 0.3));
  right: 50%;
  /* 6 columns */
  }
.row-offcanvas-left.active {
  background: linear-gradient(to top, rgba(0, 200, 0, 0.3), rgba(155, 0, 211, 0.3));
  left: 50%;
  /* 6 columns */
  }
.well1 {
  background: linear-gradient(to top, rgba(0, 200, 0, 0.3), rgba(155, 0, 211, 0.3));
  }
.sidebar-offcanvas {
  position: fixed;
  top: 0;
  width: 50%;
  background: linear-gradient(to top, rgba(0, 200, 0, 0.3), rgba(155, 0, 211, 0.3));
  /* 6 columns */
  }
}
